.containerVertical {
  flex: 0.2;
  background: #040404;
  color: white;
  height: 100vh;
  text-align: start;
  padding: 50px 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttonVertical {
  height: 70%;
  position: relative;
}
.buttonVerticalLink {
  position: absolute;
  border-radius: 30px;
  background-color: transparent;
  border: 3px solid white;
  text-decoration: none;
  color: white;
  padding: 10px 70px;
  bottom: 0;
}

.buttonVerticalLink:hover {
  background: white;
  color: black;
}

.buttonVerticalLink:focus {
  padding: 7px 60px;
}
