.productContainer {
  background: #040404;
  width: 100vw;
  min-height: 100vh;
  color: white;
}

.productImage {
  height: 100vh;
  width: 100%;
  margin: auto;
  clip-path: polygon(0 0, 100% 0, 100% 39%, 50% 80%, 0% 38%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingCart {
  position: absolute;
  cursor: move;
  right: 2%;
  top: 50%;
  padding: 20px;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.shoppingCartContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #040404;
  border-top: 1px solid white;
  color: white;
  transition: 0.8s;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.productImage > h1 {
  font-size: 70px;
}

.product {
  width: 80%;
  margin: auto;
}

.cartItem {
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  border-bottom: 1px solid white;
  display: flex;
}

.cartItem > span {
  flex: 0.2;
  display: flex;
  align-items: center;
}

.cartItem > span > img {
  height: 100%;
}

.prodInfo {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  min-height: 40vh;
}
.prodInfoParts {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.prodInfoSelect {
  width: 100%;
  padding: 20px 20px;
  position: relative;
}

.select {
  background: transparent;
  border-bottom: 1px solid white;
  transition: border-color 0.2s;
  width: 100%;
}
.select:focus {
  outline: none;
}

.prodInfoLabelTypes {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.prodInfoButton {
  padding: 30px 10px;
}

.buttonProd {
  border: 2px solid white;
  border-radius: 30px;
  background: transparent;
  padding: 10px 15px;
  color: white;
}

.buttonProd:hover {
  background: white;
  color: black;
}
.buttonProd:active {
  padding: 5px 10px;
}
