.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  right: 0;
  z-index: 1000;
}

.navbar > a {
  flex: 0.3;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar > a:hover {
  border-bottom: 2px solid #773e2b;
  padding-bottom: 5px;
}

.navbar > .active {
  border-bottom: 2px solid #773e2b;
}
@media all and (max-width: 1000px) {
  .navbar-mobile {
    height: 100%;
    width: 0;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #040404;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

  .navbar-mobile > a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    min-width: 90%;
    margin: 10px 0;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
